<br>
<br>
<br>
<p>session: <b><%= session %></b></p>
<p>@role: <b><%= @role.inspect %></b></p>
<p>conf: <%= @conf %></p>
<p>Time.new.utc.strftime: <b><%#= Time.new.utc.strftime("%Y-%m-%d %H:%M:%S") %></b></p>
